/*---------------
    RESET
---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* ----------------
  CUSTOM SCROLLBAR
-----------------*/

/* width */
main::-webkit-scrollbar {
    width: auto;
  }
  
  /* Track */
main::-webkit-scrollbar-track {
    background-color: #000000;
  }
  
  /* Handle */
main::-webkit-scrollbar-thumb {
    background-color: gray;
  }


  /* width */
.second-nav::-webkit-scrollbar {
    width: auto;
  }
  
  /* Track */
.second-nav::-webkit-scrollbar-track {
    background-color: #000000;
    border: none;
  }
  
  /* Handle */
.second-nav::-webkit-scrollbar-thumb {
    background-color: gray;

  }



/* ----------------
    TYPOGRAPHY
-----------------*/

body {
  font-family: "Montserrat", sans-serif;
}

header {
    font-weight: 600;
    font-style: normal;
}

/* ----------------
    GENERAL
-----------------*/

.big-container {
    display: flex;
    height: calc(100vh - 90px);
}

/*-------------------
    UTILITY
--------------------*/
.height-90 {
    height: 90px;
}

.bg-black {
    background-color: #000000;
}

.bg-lightblack {
    background-color: #080B12;
}

.bg-darkblue {
    background-color: #141922;
}

.bg-gray {
    background-color: #282828;
}

.text-grey {
    color: grey;
}

.text-white {
    color: white;
}

.flow-10 > *:not(:first-child) {
    margin-top: 10px;
}

.flow-20 > *:not(:first-child) {
    margin-top: 20px;
}

.flow-30 > *:not(:first-child) {
    margin-top: 30px;
}

.flow-40{
    padding-top: 40px;
}

/* ----------------
    BUTTONS
-----------------*/
.btn-square {
    border: none;    
    background-color: gray;
    color: black;
    padding: 10px;
    cursor: pointer;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 12px 34px;
    color: white;
    font-weight: 600;
    font-size: 11px;
    cursor: pointer;
}

.btn-primary:hover {
    font-size: 14px;
    padding: 14px 36px;
    transition: 0.2s;
}

.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-song {
    color: gray;
    font-size: 16px;
}

.btn-song:hover {
    color: white;
}

.btn-media {
    color: white;
    font-size: 22px;
}

.btn-play {
    font-size: 30px;
}

/* ----------------
    HEADER
-----------------*/
header {
    width: 300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header > * {
    padding-left: 20px;
}

.logo {
    padding-top: 20px;
    padding-bottom: 30px;
}

.logo img {
    max-width: 60%;
}

.logo img:last-child {
    display: none;
}

.nav-list {
    font-size: small;
    list-style: none;
    line-height: 2.5;
}

.nav-list a {
    text-decoration: none;
}

.nav-list img {
    width: 34px;
    filter: invert(50%);
    padding-right: 8px;
}

.nav-list li {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: -15px;
    padding-left: 15px;
}

/* -------FIRST NAV---------*/

.first-nav {
    padding-bottom: 20px;
}

.first-nav a:not(.text-white) {
    color: gray;
}

.first-nav .home-white {
    filter: invert(0%);
}

.first-nav li:hover {
    margin-left: -16px;
    border-left: 4px solid greenyellow;
}

.first-nav li:hover img {
    color: white;
    filter: invert(0%);
}

.first-nav li:hover a {
    color: white;
}

/* -------CREATE PLAYLIST---------*/
.create-playlist {
    padding-bottom: 10px;
}

.create-playlist button, span {
    cursor: pointer;
}

.create-playlist span {
    padding-left: 8px;
}

.create-playlist .btn-square i {
    font-size: 18px;
}

.create-playlist div:hover {
    color: white;
}

.create-playlist button:hover {
    background-color: white;
}

/* -------SECOND NAV---------*/

.second-nav {
    flex-grow: 1;
    overflow-y: auto;
}

.second-nav li {
    cursor: pointer;
}

.second-nav li:hover {
    color: white;
}

/* -------THIRD NAV---------*/

.third-nav {
    margin-top: auto;
}

.third-nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
}

.third-nav .install {
    width: 90%;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    cursor: pointer;
}

.third-nav .install img {
    width: 18px;
    filter: invert(50%);
}

.third-nav .install small {
    padding-left: 8px;
}

.install *:hover {
    color: white;
    filter: invert(0%);
}

.install small:hover {
    color: white;
}

.install img:hover {
    filter: invert(0%);
}

.profile img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: gray;
    object-fit: fill;
}

/* ----------------
    MAIN
-----------------*/
main {
    overflow-y: auto;
    flex-grow: 1;
}

.main-container {
    padding: 20px;
}

/* -------TOP MAIN---------*/

.top-main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(8, 11, 18, 0.5);
    margin-bottom: auto;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px;
}

/* ---------------------
    MAIN CONTAINER
----------------------*/

/* ---- ROW TOP -------*/

.row-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-top ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
    gap: 20px;
}

.row-top li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-top a {
    text-decoration: none;
}

.row-top a:hover {
    color: white;
    transition: 0.2s;
}

.row-top div {
    width: 40%;
    border-bottom: 2px solid greenyellow;
}

/* ---- ROW MAIN -------*/
.col {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col .card {
    width: calc(100% / 6);
    padding-right: 20px;
}

.album {
    position: relative;
}

 .album img {
    display: block;
}

.album-cover-hover {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
    transition: 0.4s opacity;
}

.album:hover .album-cover-hover {
    opacity: 1;
}

.card figcaption {
    text-align: center;
    font-weight: 600;
}

.card .circle-img {
    border-radius: 50%;
}

/* ----------------
    FOOTER
-----------------*/
 footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    bottom:0;
    padding: 20px;
    z-index: 30;
    overflow: hidden;
 }

 /* ---- BOX SONG -------*/

 .box-song {
    display: flex;
    justify-content: space-between;
    gap: 20px;
 }

 .box-song .song-icon, .button-song {
    display: flex;
    gap: 10px;
 }

 .box-song figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
 }

 /* ---- BOX TIMELINE -------*/

 .box-timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    text-align: center;
 }

.button-media button {
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;   
}

.bottom-media {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 4px;
}

.bar-play {
    width: 100%;
}

.my-progress {
    width: 100%;
    background-color: #5A5A5A;
  }
  
#my-bar {
    width: 10%;
    height: 5px;
    background-color: #C1C1C1;
    text-align: center;
    line-height: 30px;
    color: white;
}

 /* ---- BOX VOLUME -------*/

.box-volume {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.volume-button {
    display: flex;
    gap: 20px;
}

.volume-area {
    min-width: 100px;
}

.volume-row {
    width: 100%;
    background-color: #5A5A5A;
  }

#volume-bar {
    width: 10%;
    height: 5px;
    background-color: #C1C1C1;
    text-align: center;
    line-height: 30px;
    color: white;
  }

/* ----------------
    RESPONSIVE
-----------------*/

@media screen and (max-width: 1100px) {
    .col .card {
        width: calc(100% / 4);
    }

}

@media screen and (max-width: 700px) {
    .col .card {
        width: calc(100% / 2);
    }
}


@media screen and (max-width: 600px) {
    header {
        width: 70px;
    }

    .logo img:first-child {
        display: none;
    }

    .logo img:last-child {
        display: block;
        filter: invert(100%);
    }

    .first-nav li {
        margin-bottom: 10px;
    }

    .first-nav a {
        display: none;
    }

    .create-playlist, .second-nav {
        display: none;
    }

    .third-nav .install {
        border-bottom: none;
    }

    .third-nav span, small {
        display: none;
    }

    .third-nav div {
        text-align: center;
    }

}